# Streamlit frontend
streamlit==1.51.0

# Core ML + image processing
numpy==1.26.0
Pillow==12.0.0
ultralytics==8.1.7

# OpenCV (headless version for cloud deployment)
opencv-python-headless==4.8.1.78

# Optional dependency for ultralytics
thop==0.1.1.post2209072238
